DB_ENGINE=postgresql
DEBUG=True
SECRET_KEY=change-me-to-a-strong-secret
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

DB_NAME=teamup_db
DB_USER=postgres
DB_PASSWORD=ankit
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

ACCESS_TOKEN_MINUTES=30
REFRESH_TOKEN_DAYS=7

RESEND_API_KEY=re_GwTsvnU9_DU4EyUfHis4mE7dZ9tzBVdpG
EMAIL_VERIFICATION_URL=http://127.0.0.1:8000/api/auth/verify-email/
EMAIL_VERIFICATION_TOKEN_MAX_AGE_SECONDS=86400
EMAIL_VERIFICATION_RESEND_COOLDOWN_SECONDS=60
DEFAULT_FROM_EMAIL=TeamUp <onboarding@resend.dev>
