[Unit]
Description=TeamUp Celery Worker
After=network.target redis.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/teamup_backend
EnvironmentFile=/srv/teamup_backend/.env
ExecStart=/srv/teamup_backend/.venv/bin/celery -A config worker -l info
Restart=always

[Install]
WantedBy=multi-user.target
